footer {
    background: #757575;
    padding-bottom: 50px;
    padding-top: 50px;
    color: #ffffff;
    a {
        color: #ffffff;
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
}

@media (max-width: (414px)) {
    .footer-logo {
        margin-top: 20px;
        text-align: center;
    }
}
