.header-top {
    background: #dbdbdb;
    padding-top: 45px;
    padding-bottom: 65px;
}

.logo {
    display: inline-block;
    margin-top: 20px;
    a {
        display: inline-block;
    }
}

h1 {
    margin: 0;
}

.header-contacts {
    float: right;
}

.contact-phone {
    font-size: 30px;
}

.contact-link a {
    font-size: 18px;
    float: right;
    color: #757575;
    font-weight: 700;
    text-decoration: underline;
}

.header-bottom {
    background: #757575;
    padding: 15px 0;
    button {
        outline: none;
    }
    .navbar {
        padding: 0;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: #ffffff;
        font-size: 22px;
        &:hover {
            text-decoration: underline;
        }
    }
    .nav-fill .nav-item:not(:last-child):after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 22px;
        background: #ffffff;
        margin-top: -35px;
        float: right;
    }

}

@media (max-width: 992px) {
    .header-bottom .nav-fill .nav-item:not(:last-child):after {
        content: none;
    }

    @media (max-width: 414px) {
        .header-contacts {
            float: none;
            text-align: center;
            margin-top: 10px;
        }
    }

}
