.carousel-control-prev-icon {
    background: url("../images/prev.png");
    width: 34px;
    height: 61px;
};
.carousel-control-next-icon {
    background: url("../images/next.png");
    width: 34px;
    height: 61px;
}

.products {
    padding-top: 10px;
    padding-bottom: 80px;
}


.products-path ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        &:not(:last-child):after {
            content: "/";
            margin-left: 5px;
        }
        a {
            color: #818181;
            text-decoration: none;
            &:hover {
                color: #000000;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}

.left-sidebar {
    padding-top: 20px;
    ul li {
        font-size: 18px;
        a {
            color: #757575;
            &.active {
                text-decoration: underline;
            }
        }
        &~li {
            margin-top: 5px;
        }
        ul {
            list-style: disc;
            padding-left: 30px;
            li {
                margin: 0;
                a {
                    font-size: 15px;
                    &.active {
                        font-weight: 700;
                    }
                }
            }
        }
    }
    .pricelist {
        margin-top: 110px;
        a {
            display: inline-block;
        }
    }
}

.item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product-item {
    background: #dbdbdb;
    padding: 20px;
    box-sizing: border-box;
    width: 250px;
    min-width: 200px;
    margin-top: 20px;
    margin-right: 15px;
    .product-name {
        margin-top: 15px;
    }
    .product-photo img {
        max-width: 100%;
    }
    .product-info {
        margin-top: 50px;
        .product-price {
            font-size: 20px;
            font-weight: 700;
            display: inline-block;
        }

        .product-add {
            float: right;
        }
    }
}

ul.pagelist {
    display: block;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 60px;
    border-bottom: 1px solid #000000;
    li {
        display: inline-block;
        a {
            color: #000000;
            text-decoration: none;
            display: inline-block;
            &.active-page {
                transform: scale(1.3);
            }
            &:hover {
                transform: scale(1.3);
            }
        }
    }
    li~li {
        margin-left: 20px;
    }
}

.products-descr {
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    padding-top: 25px;
}


@media (max-width: 768px) {
    .left-sidebar {
        ul.item-menu {
            display: inline-block;
        }
        .pricelist {
            margin-top: 20px;

        }
    }

    .item-wrapper {
        justify-content: space-around;
    }
    .product-item {
        margin-right: 0;
    }
}


@media (max-width: 414px) {
    .products-descr div {
        margin-top: 20px;
    }
}